/******* variable *******/

$color_green_dark : #16635b;
$color_gray_dark : #191a1b;
$color_white_2 : #c9c9c9;
$color_white_3 : #e6e6e6;
$color_green : #83C5BE;
$color_white : #FFFFFF;
$trans_color : .8s color;
$color_orange : #fd9e75;
$color_orange_light : #e0c2b6;





/****** button style **********/

%button-style{

    width: 120px;
    margin: 20px auto;
    height: 40px;
    background-color: $color_white;
    color: $color_green;
    border-radius: 5px;
    border: 0.5px solid $color_green;
    transition: 0.8s background-color;
    box-shadow: rgba(60,64,67,0.3) 0 1px 2px 0,
                  rgba(60,64,67,0.15) 0 2px 6px 2px;
    
    &:hover{

        border: none;
        background-color: $color_green;
        color: $color_white;
        a{
            color: $color_white;
            &:hover{
                color: $color_white;
            }
        }

    }
}



